@media only screen and (max-width: 600px) {
  textarea {
    font-size: 24px;
  }
}
textarea {
	width: 100%; 
	height: 95%; 
	border: 2px solid white; 
}
* {
	background-color: black; 
	color: #fff;
}
.monospace {
	font-family: "Courier New", monospace;
}
